:root {
  --sidebar-width: 300px;
  --sidebar-compact-width: 74px;
  --sidebar-header-padding: 0;
  --sidebar-header-compact-padding: 0;
  --sidebar-body-padding: theme('padding.3');
  --sidebar-body-compact-padding: theme('padding.3');
  --sidebar-footer-padding: 0;
  --sidebar-footer-compact-padding: 0;
}